@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";

body{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .turing__main{
        display: flex;
        height: 100%;
        width: 100%;

        .turing__phone{
            height: 95%;
            max-height: 650px;
            max-width: 310px;
            width: 90%;
            background: rgba(0,0,0, .4);
            margin: auto;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            .turing__midle{
                background: #fff;
                height: 80%;
                width: 88%;
                margin: auto;

                .turing__calling{
                    &-content{
                        margin: 20px 0 15px;
                    }

                    &-number{
                        font-size: 25px;
                        text-align: center; 
                        font-weight: 600;
                        height: 30px;
                        max-width: 272px;
                        overflow: hidden;
                        margin: 0;
                    }

                    &-status{
                        font-size: 12px;
                        text-align: center;
                        padding: 0 10px;
                        margin-bottom: 0;
                        height: 30px;
                    }
                }
            }

            &-numbers{
                display: flex;
                flex-wrap: wrap;
                padding: 0 15px;

                li{
                    width: 33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0;
                    cursor: pointer;

                    &.turing__phone-special{
                        div{
                            font-size: 25px;
                            font-weight: 600;
                        }
                    }

                    div{
                        width: 60px;
                        height: 60px;
                        font-weight: 800;
                        background: #eee;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        font-size: 21px;

                        p{
                            margin: 0;
                            padding: 0;
                        }
                        
                        span{
                            font-size: 10px;
                            height: 13px;
                        }
                    }
                }
                
            }
        }

        .turing__button{
            &-content{
                display: flex;
                margin-top: 10px;

                li{
                    width: 33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &-call{
                width: 60px;
                height: 60px;
                appearance: none;
                border: 0;
                border-radius: 50%;
                background-color: #3DC445;
                outline: none;
                cursor: pointer;
                @extend %fa-icon;
                @extend .fas;

                &:before {
                    content: fa-content($fa-var-phone);
                    font-size: 20px;
                    color: #fff;
                }
            }

            &-clear{
                background: #eee;
                appearance: none;
                border: 0;
                outline: none;
                cursor: pointer;
                padding: 2px 10px;
                font-size: 18px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                position: relative;

                &:before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 13px 15px 12px 0;
                    top: 0;
                    border-color: transparent #eee transparent transparent;
                    left: -15px;
                }
            }
        }
    }
}