doctype
html(lang='pt-br')
    head
        meta(charset='utf-8')/
        meta(http-equiv='X-UA-Compatible', content='IE=edge')/
        meta(name='viewport', content='minimal-ui, width=device-width,initial-scale=1')/
        link(rel='stylesheet', href=`./assets/css/turing.css`, media='all')/
        link(rel='stylesheet', href=`https://use.fontawesome.com/releases/v5.3.1/css/all.css`, integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")/

    body
        main(role='main', class='turing__main')
            section(class='turing__phone')
                article(class='turing__midle')
                    div(class='turing__calling-content')
                        p(class='turing__calling-number')
                        p(class='turing__calling-status')
                    ul(class='turing__phone-numbers')
                        li(class='turing__phone-num t-num-1') 
                            div 1
                                span(class='t-num-text') 
                        li(class='turing__phone-num t-num-2')
                            div 2
                                span(class='t-num-text') a b c
                        li(class='turing__phone-num t-num-3')
                            div 3
                                span(class='t-num-text') d e f
                        li(class='turing__phone-num t-num-4')
                            div 4
                                span(class='t-num-text') g h i
                        li(class='turing__phone-num t-num-5')
                            div 5
                                span(class='t-num-text') j k l
                        li(class='turing__phone-num t-num-6')
                            div 6
                                span(class='t-num-text') m n o
                        li(class='turing__phone-num t-num-7')
                            div 7
                                span(class='t-num-text') p q r s
                        li(class='turing__phone-num t-num-8')
                            div 8
                                span(class='t-num-text') t u v
                        li(class='turing__phone-num t-num-9')
                            div 9
                                span(class='t-num-text') w x y z
                        li(class='turing__phone-special t-ast')
                            div *
                        li(class='turing__phone-num t-num-0')
                            div 0
                                span(class='t-num-text') +
                        li(class='turing__phone-special t-hash')
                            div #
                    ul(class='turing__button-content')
                        li
                        li
                            button(class='turing__button-call')
                        li
                            button(class='turing__button-clear') x

        script(type='text/javascript', src=`./assets/js/turing.js`)